@font-face {
    font-family: 'Kumbh';
    src:url('../fonts/Kumbh/static/KumbhSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'KumbhBold';
    src:url('../fonts/Kumbh/static/KumbhSans-Bold.ttf') format('truetype')
}